@import "tailwindcss";

@layer base {
  body {
    background-color: #f4f4f4;
    color: #050a30;
    font-family: 'Segoe UI', system-ui, sans-serif;
    line-height: 1.6;
  }
  a {
    text-decoration: none;
  }
}
